.description-oriented-testimonial {
    margin: 8px;
    box-shadow: 1px 3px 8px #D1D1D1;
    padding: 16px;
    border-radius: 8px;
}

.description-oriented-testimonial-image {
    border-radius: 50%;
    height: 48px;
    width: auto;
    min-width: 48px;
    object-fit: contain;
}
