.error-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: relative;
}

.error-boundary-bg{
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  object-fit: cover;
  filter: blur(10px);
  z-index: -1;
}
