.builder-section{
  max-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  overflow: auto;
}

.active .tab-section__header{ 
  color: #4DA1FF;
}

.tab-section__header{
  display: flex;
  align-items: center;
}

.tab-section__header-icon{
  margin-right: 5px;
  display: flex;
  align-items: center;
}


.builder-section__icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  margin-bottom: 10px;
  cursor: pointer;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

.builder-section__icon img {
  width: 58%;
}

.builder-section__title{
  font-size: .85em;
  margin: 5px 0;
}
