/* 
.form-submit {
    margin-top: 40px;
}
.form-submit:disabled {
    cursor: not-allowed;
    background: lightgray;
    pointer-events: none;
}

.form-input.name:before{
    content:'name';
    position: absolute;
    font-size: 9px;
    text-transform: capitalize;
    color: #717C8A;
    margin-left: 15px;
    top:22px;
}

.form-input.company:before{
    content:'company';
    position: absolute;
    font-size: 9px;
    text-transform: capitalize;
    color: #717C8A;
    margin-left: 15px;
    top:22px;
}
.form-input.subdomain:before{
    content:'subdomain' ;
    position: absolute;
    margin-left: 15px;
    font-size: 9px;
    text-transform: capitalize;
    color: #717C8A;
    top:22px;
} */


/* 
.subdomain {
    position: relative;
    display:flex;
    width: 80%;
    align-items: center;

}
.main-domain-suffix {
    background: #4DA1FF;
    color: white;
    padding: 0px 37px;
    display: flex;
    font-size: 13px;
    height: 100%;
    height: 38px;
    justify-content: center;
    align-items: center;
} */
/* 
.leadcart-user{
    border-bottom:1px solid #BCC9D6;
    padding: 14px 14px;
    margin: 18px 0px;
    outline: none;
    background: transparent;
    height: 38px;
    min-width: 250px;
    width: 80%;
    position: relative;
    background: rgba(188, 201, 214, 0.1);
    border: 0.5px solid #C9D3DC;
    box-sizing: border-box;
} 


.signup-error-field {
    font-size: small;
    color: #ff5722cf;
    margin-top: 5px;
}

.package-level{
    position: relative;
}
.trial-package-expiration,
.trial-package{
    font-size: 16px;
    letter-spacing: 1px;
    color:  #C9D3DC;
}

.trial-package-expiration{
    min-width: 200px;
    font-size: 13px;
    position: absolute;
    bottom: -40px;
    left:50%;
    text-align: center;
} */