.table-container {
    width: 100%;
    margin: 20px 0px;
}

.table-head {
    display: flex;
    justify-content: space-around;
    color: #BCC9D6;
    font-size: 12px;
    position: relative;
}

.table-head-cell {
    /* flex: 1; */
    min-width: 100px;
    /* min-width: 185px; */
    padding: 0 30px;
    display: flex;
    justify-content: center
}

.table-head-cell.flex {
    flex: 1;
}

.table-head-cell span {
    position: relative;
}

.table-head-cell.nowrap span {
    white-space: nowrap;
}

.table-head-cell span:after {
    position: absolute;
    content: '\25B2';
    color: inherit;
    top: 10%;
    right: -10px;
    font-size: 9px;
}

.table-row-container.blue {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.table-row-container {
    background: white;
    min-width: 860px;
    min-height: 70px;
    margin: 15px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.no-min-width {
    min-width: unset;
    border-radius: 5px;
}

.table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-cell.nowrap {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-cell.flex {
    flex: 1;
}

.table-cell.flex.flexStart {
    flex-direction: row;
    justify-content: flex-start;
}

.tabel-row-controlls-container {
    display: flex;
}

.mini-btn {
    color: #C9D3DC;
    margin: 0px 5px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background: white;
    border: 1px solid #C9D3DC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mini-btn.active {
    color: rgb(89, 162, 226);
}

.small-btn {
    color: white;
    margin: 0px 5px;
    display: block;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 12px;
    cursor: pointer;
}

.cell-main-content {
    color: #2B3748;
    font-size: 15px;
}

.cell-sub-content {
    color: #C9D3DC;
    font-size: 12px;
    margin-left: 0px;
}

.wide-tabel-cell {
    right: 50px;
    display: flex;
}

.mini-btn.row-explor-btn {
    background: transparent;
    color: #4DA1FF;
    border-color: #4DA1FF;
}

.small-table-cell .product-name-avatar {
    height: 40px;
    width: 40px;
}

.small-table-cell {
    width: 100px;
    display: flex;
    justify-content: center;
}

.row-controls {
    display: flex;
}

.coupon-table-row .table-row-delete-btn, .coupon-table-row .table-row-edit-btn {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.coupon-table-row:hover .table-row-delete-btn, .coupon-table-row:hover .table-row-edit-btn {
    opacity: 1;
}

.table-row-delete-btn {
    position: absolute;
    right: 30px;
    border: unset;
    color: rgba(255, 99, 71, 0.52);
    top: 20px;
    transition: color .4s ease-in-out;
}

.table-row-delete-btn:hover {
    color: tomato
}

.table-row-edit-btn {
    position: absolute;
    right: 0px;
    border: unset;
    color: rgba(43, 165, 212, 0.52);
    top: 20px;
    transition: color .4s ease-in-out;
}

.table-row-edit-btn:hover {
    color: rgba(43, 164, 212, 0.904)
}

.row-aligned-center {
    justify-content: center;
}

.sub-table span.table-head {
    color: #607D8B;
    border-bottom: 1px solid #eee;
}

.sub-table span.table-head .table-head-cell span:after {
    content: ""
}

.table-container.sub-table {
    /* background: #bad8f96e; */
    padding: 5px;
    margin: 10px;
    border-top-right-radius: 7px;
    width: 50%;
    border-bottom-right-radius: 7px;
    border-left: 2px solid #3c7fc76e;
    margin-left: 70px;
}

.sub-table .table-row-container {
    height: 20px;
    padding: 5px;
    margin: 5px 0;
    min-height: unset;
    background: inherit;
    min-width: unset;
}

.cell-main-content.truncate {
    width: 150px;
    text-align: center;
}