.brand-avatar-wrapper {
  position: relative;
}

.brand-avatar-image {
}

.brand-avatar-type,
.brand-avatar-subscription {
  position: absolute;
  left: 14px;
  bottom: -12px;
  font-size: .6rem !important;
  padding: 0 !important;
  height: 16px !important;
  line-height: 14px !important;
}
.brand-avatar-subscription span{
  font-size: .7rem !important;
}

.brand-avatar-type{
  left: 14px;
  top: 10px;
  bottom: unset;
  color: orange;

}
