.chartjs-render-monitor{
    height: 100% !important;
    width: 100% !important;
}



/* Chart Section styles starts*/
.section-box {
    background: #FFFFFF;
    /* margin: 0px 10px 15px 15px; */
    margin: 0px 10px 0px 15px;
    border-radius: 3px;
}

.chart-preview{
    padding: 15px 15px 15px 25px; 
    /* height: 650px; */
    flex: 1;
    margin-top: 40px;
    /* width: 100%; */
    min-width: 550px;
    display: flex;
    flex-direction: column;
}
.chart-head{
    display: flex;

}

.chart-head-child{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart-title{
    color:#2B3748;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}

.chart-preview-options{
    border: 1px solid #C9D3DC;
    border-radius: 3px;
    display: flex;    

    /* padding: 10px;  */
}
.chart-option{
    text-transform: capitalize;
    font-size: small;
    color:rgba(43, 55, 72, 0.753);
    padding: 10px 20px;
    display: inline-block;
    transition:all 350ms ease-in-out;
    cursor: pointer;
}
.chart-option:hover{
    box-shadow: 0px 0px 10px 0px #0000002b;
}
.chart-option:hover{
    font-weight: bold;
    color: #4DA1FF;
    
}
.chart-total-profite{
    min-width: 120px;
    display: flex;
    align-items: center;
}
.chart-profit-value{
    margin-left: 40px;
    min-width: 100px;
    font-size: large;
    font-weight: bold;
    color: #2B3748;
}
