.funnel-product-card {
    height: 140px;
    width: 100px;
    cursor: pointer;
}
.product-override-select{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: inherit;
}