

.code-section{
    overflow: hidden;
}
.code-exec-iframe{
    border: none;
    background-color: white;
    width: 100%;
    height: auto;
}
/* .has-parent-height{
    height: inherit !important;
} */