
/* Upsell Card Styles Starts*/
.upsell-card-container {
  height: 250px;
  width: 250px;
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px;
  justify-content: space-between;
  transition:all .3 ease-in-out;
  box-shadow: 1px 1px 10px -5px rgba(0,0,0,.2);
}



.upsell-card-container:hover{
  box-shadow: 1px 1px 10px -2px rgba(0,0,0,.2);
}
.upsell-contnet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

span.product-salles-holder i.fas {
  margin: 5px;
  opacity: .6;
}
.upsell-item-controlls {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  transition:all .3s ease-in-out;

}
.upsell-item-controlls i.fas{
  color: #e5e5e5;
  cursor: pointer;
}
.upsell-item-controlls i.fas:hover{
  color: #afacac;
}

.simple-label{
  color: #757272;
  user-select: none;
  padding-right: 5px;
}
/* Upsell Card Styles ENDS*/



.upsell-layout-image{
  padding:.5px;
  border:1px solid #e1e1e1;
}

.upsell-layout-image:hover{
  padding:0px;
  border:1.5px solid #e1e1e1;
}