
.node-setting-modal{
    position: absolute;
    background: white;
    top: 0px;
    bottom: 0px;
    width: 330px;
    right: 0px;
    left: unset;
    box-shadow: -1px 5px 10px 5px rgba(0, 0, 0, 0.01);
    transform:translateX(330px);
    transition: transform .4s ease-in-out;
    z-index: 101;
}
.side-bar-nodes{
    height: 150px;
    width: 100px;
    margin: 10px 15px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.08);
}
.funnel-nav-bar + .product-workspace-container,
.funnel-nav-bar + .product-workspace-container.side-opened{
    padding: unset;
}

.node-setting-modal.open{
    transform:translateX(0px);
}
/* .node-setting-modal */

