.settings-handle {
    position: absolute;
    opacity: 0;
    top: 5px;
    right: 5px;
    transition: opacity .3s ease-in-out;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.settings-handle .icon{
    color: gray;
    /* width: 25px; */
    font-size: 20px;
    padding: 2px 0;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.settings-handle .icon:hover{
    transform: scale(1.5);
}
*:hover > .settings-handle{
    opacity: 1;
}