.box-container {
    background: white;
    /* padding: 15px 20px 46px 20px; */
    padding: 15px 20px 40px 20px;
}

.main-title-container {
    position: relative;
    color: #2B3748;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
}

.main-title-note {
    font-size: 14px;
    margin-left: 50px;
}

.small-box {
    margin: 15px 20px 5px 0px;
    height: 150px;
    width: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-boxes-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-boxes-container.column {
    flex-direction: column;
}

.space-between-elements {
    justify-content: space-between;
}

.normal-box {
    min-height: 130px;
    min-width: 330px;
    margin: 10px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    padding: 20px 15px 10px;
}

.box-content {
    flex: 1;
    display: flex;
    align-items: center;
}

.normal-box .input-label-container {
    width: auto;
}

.block-container {
    background: white;
    padding: 20px;
    min-height: 350px;
    border: 1px solid #aaa;
    /* border-top:1px solid transparent; */
}

.react-tabs__tab {
    bottom: -2px !important;
}

.react-tabs__tab-list {
    border: none !important;
}

.react-tabs__tab--selected .tab-title-container:after {
    box-shadow: none !important;
}





/* Embeded Script Container Styles*/
.embeded-script-container {
    position: relative;
}

.copied-flag {
    position: absolute;
    bottom: -44px;
    right: 10px;
    background: gray;
    padding: 5px 5px;
    border-radius: 3px;
    color: white;
    transition: all .4s ease-in-out;
    opacity: 0;
}

.input-head-note {
    margin: 10px 0px;
}

/* Embeded Script Container Styles Ends*/



/* insights box  style starts   */
.overview-insights-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 10px 0px 15px;
    /* margin: 10px 0; */
    overflow: hidden;
}

.insight-box {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 7px 0;
    padding: 5px;
    padding-bottom: 20px;
    background: #FFFFFF;
    /* margin: 0px 10px 0px 15px; */
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .01)
}

/* .insight-box:first-child{
    margin-left: 0px;
}
.insight-box:last-child{
    margin-right: 0px;
} */

.insight-icon i {
    margin: 0 10px;
    font-size: 13px;
    color: #C9D3DC;
}

.insight-title {
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    /* font-weight: bold; */
    color: rgb(68, 84, 105);
    text-align: center;
}

.insight-value {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #4DA1FF;
    margin: 5px auto;
}

span.insight-chart {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.insight-box .insight-box-info-tip {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.insight-box:hover .insight-box-info-tip {
    opacity: 1;
}

.insight-box-info-tip {
    position: absolute;
    bottom: 5px;
    left: 8px;
    cursor: pointer;
    z-index: 100;

}

.insight-box-info-tip .fas {
    font-size: 10px;
    color: #4DA1FF;
}

.insight-box-info-tip::after {
    position: absolute;
    top: 100%;
    left: 15px;
    padding: 3px 5px;
    background: #4DA1FF;
    color: white;
    content: attr(data-label);
    min-width: 170px;
    max-width: 300px;
    opacity: 0;
    line-height: 13px;
    font-size: 11px;
    border-radius: 5px;
    /* text-transform: lowercase; */
    transform: translateX(-10%);
    cursor: default;
    transition: all .3s ease-in-out;
}

.insight-box-info-tip:hover::after {
    transform: translateX(0);
    opacity: .9;
}

/* 
.insight-box:nth-last-child(-n+3) .insight-box-info-tip::after{
    left:-100px;
}
.insight-box:nth-last-child(-n+2) .insight-box-info-tip::after{
    top: -25px;
    left:20px;
} */
/* insights box section style ends */

.flex-box{
    display: flex;
}
.flex-box.column{
    flex-direction: column;
}
.flex-box.spaceBetween{
    justify-content: space-between;
}
.flex-box.wrappable{
    flex-wrap: wrap;
}
.flex-box.flex{
    flex: 1;
}
.flex-box.center{
    align-items: center;
}
.flex-box.column.center{
    justify-content: center;
}
