.box-container{
    background: white;
    /* padding: 15px 20px 46px 20px; */
    padding: 15px 20px 40px 20px;
}
.main-title-container{
    position: relative;
    color: #2B3748;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
}
.main-title-note {
    font-size: 14px;
    margin-left: 50px;
}
.small-box{
    margin: 15px 20px 5px 0px;
    height: 150px;
    width:150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-boxes-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.space-between-elements{
    justify-content: space-between;
}
.normal-box{
    height: 260px;
    width: 330px;
    margin: 10px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    padding: 20px;
}
.box-content{
    flex:1;
    display: flex;
    align-items: center;
}
.normal-box .input-label-container{
    width: auto;
}

.block-container{
    background: white;
    padding:20px;
    min-height: 350px;
    border: 1px solid #aaa;
    /* border-top:1px solid transparent; */
}
.react-tabs__tab{
    bottom: -2px !important;
}
.react-tabs__tab-list{
    border:none !important;
}
.react-tabs__tab--selected .tab-title-container:after{
    box-shadow: none !important;
}





/* Embeded Script Container Styles*/
.embeded-script-container{
    position: relative;
}
.copied-flag{
    position: absolute;
    bottom: -44px;
    right: 10px;
    background: gray;
    padding: 5px 5px;
    border-radius: 3px;
    color: white;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.input-head-note{
    margin: 10px 0px;
}
/* Embeded Script Container Styles Ends*/
