.template-complete-order{
  font-size: 20px;
  color:white;
  padding: 8px 0px;
  /* background: rgb(142, 209, 252); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.template-complete-order-input{
  text-align: center;
  /* background: rgb(142, 209, 252); */
  /* background: inherit; */
  color:white;

}