/* .template-payment-card{
  height: 70px;
  width: 147px;
}
.payment-methods-cards-container{
  display: flex;
  flex-wrap: wrap;
}
.adding-payment-error{
  font-size: 13px;
  text-align: center;
  margin: 14px;
  color: tomato;
} */