.side-bar-menu {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 260px;
    transform: translateX(-260px);
    transition: transform .3s ease-in-out;
    z-index: 1000;
}

.side-bar-menu.left-position {
    left: 0;
    right: unset;
}

.side-bar-menu.right-position {
    right: 0;
    left: unset;
}

.side-bar-menu.top-position {
    right: 0;
    bottom: unset;
}

.side-bar-menu.bottom-position {
    bottom: 0;
    top: unset;
}

.side-bar-menu.open {
    transform: translateX(0);
}

.menu-close-btn {
    position: absolute;
    right: -35px;
    top: 0;
    width: 40px;
    padding: 9px;
}



