

.float-btn{
  position: absolute;
  display: none;
  /* opacity: 0; */
  cursor: pointer;
  background: rgba(0,0,0,0.3);
  color:white;
  padding: 5px; 
  transition: all .3 ease-in-out;
  z-index: 1;
}
.float-btn:hover{
  background: rgba(0,0,0,0.15);
  cursor: pointer;
}
*:hover>.float-btn{
  display: block;
}

.activations-switch-input{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}

.input-note.switch-activations{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 10px;
  color:gray;
}

.warning-btn{
  background: tomato;
  color:white
}

.btn.spinner::after{
  right: 110%;
  top: 29%;
  left: unset;
  margin: unset;
}

span.primary-btn{
  background: #4DA1FF;
  background: var(--btn-bg);
  font-weight: inherit;
  padding: 3px 5px;
  padding-right: 8px;
  margin: 0 5px;
  font-size: 12px;
  border-radius: 7px;
}


.refresh-btn{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: box-shadow .2s ease-in-out;
}
.refresh-btn:hover{
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}

.refresh-btn i.rotate{
  -webkit-animation: spinner .6s linear infinite;
              animation: spinner .6s linear infinite;
}

.refresh-btn .tooltip::after{
  font-size: 12px;
  color:gray;
}
.small-btn.refresh-btn {
  font-size: 12px;
}
.small-btn.refresh-btn i{
  font-size: 10px;
}


