

.float-btn{
  position: absolute;
  display: none;
  /* opacity: 0; */
  cursor: pointer;
  background: rgba(0,0,0,0.3);
  color:white;
  padding: 5px; 
  transition: all .3 ease-in-out;
  /* z-index: 100; */
}
.float-btn:hover{
  background: rgba(0,0,0,0.15);
  cursor: pointer;
}
*:hover>.float-btn{
  display: block;
}

.activations-switch-input{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
}

.input-note.switch-activations{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 10px;
  color:gray;
}

.warning-btn{
  background: tomato;
  color:white
}

.btn.spinner::after{
  right: 110%;
  top: 29%;
  left: unset;
  margin: unset;
}

span.primary-btn{
  background: #4DA1FF;
  font-weight: inherit;
  padding: 3px 5px;
  padding-right: 8px;
  margin: 0 5px;
  font-size: 12px;
  border-radius: 7px;
}
