.image-slider-border-styles-options{
  transition: .4s background ease-in-out, .4s opacity ease-in-out;
  color: #4DA1FF;
  border-radius: 5px;
}

.image-slider-border-styles-options:hover:not(.activeOption){
  background-color: #4DA1FF;
  color: #fff;
  opacity: .5;

}

.image-slider-styles .activeOption{
    background-color: #4DA1FF;
    color: #fff;
    font-weight: bold;
}