img.section-guarantee-image {
    max-height: 200px;
    max-width: 50%;
    object-fit: contain;
    padding:  10px 20px;
}


.image-section:not(.column) .section-guarantee-text{
    max-width: 50%;
}
