.reset-activities-modal {
    padding: 30px;
    min-width: 450px;
}

.reset-activities-modal .title {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.btn.reset-confirm-btn {
    background-color: tomato;
    color: #fff;
}

.btn.reset-confirm-btn:hover, .reset-confirm-btn:active {
    color: tomato;
    background: #fff;
    border-color: currentColor;
}