.classic-toggle .toggle-bar {
    --bar-width: 30px;
    --bar-height: 12px;
    width: var(--bar-width);
    height: var(--bar-height);
    margin: 10px 80px;
    background-color: lightgray;
    position: relative;
    border-radius: 30px;
    padding: 1.5px;
    cursor: pointer;
}

.classic-toggle .toggle-bar:before,
.classic-toggle .toggle-bar:after {
    position: absolute;
    /* before is the default  */
    content: attr(data-before-bar);
    left: -30px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: gray;
}
.classic-toggle .toggle-bar:after {
    right: -30px;
    left: unset;
    content: attr(data-after-bar);
}
.classic-toggle input:checked~.toggle-bar:before{
    font-weight: bold;
    color: #2196f3;
}
.classic-toggle input:not(:checked)~.toggle-bar:after{
    font-weight: bold;
}

.classic-toggle input {
    display: none;
}

.classic-toggle .toggle-bar .circle {
    margin: auto 0;
    cursor: pointer;
    height: calc(var(--bar-height) - 2px);
    width: calc(var(--bar-height) - 2px);
    background-color: #eee;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 1px solid #eee;
}

/* when opend */
.classic-toggle input:checked~.toggle-bar .circle {
    transform: translateX(calc(var(--bar-width) - 130%));
}

.classic-toggle input:checked~.toggle-bar {
    background-color: #2196f3;
}

.classic-toggle input:focus+.toggle-bar .circle {
    box-shadow: 0 0 1px #2196f3;
}