

.product-node{
    position: relative;
    margin: 5px 15px;
    
    height: 140px;
    width: 100px;
    /* background: white; */
    border-radius: 6px;
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.03);
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
    display: flex;
    flex-direction: column;

}

.product-node.disabled{
    position: relative;
}
.product-node.disabled::after{
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.1);
    cursor: not-allowed;
}

.product-node-title{
  width: 100%;
  padding: 2px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  font-weight: bold;
  color: #4DA1FF;
  background: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.product-node:hover{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.1);
}
.product-node-body{
    flex: 1;
}
.active-mark{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: lightgreen;
    font-size: 13px;
}   


.explore-edit-btn {
    font-size: 12px;
    padding: 5px 10px;
    background: #0782fb;
    color: white;
    border-top-right-radius: 10px;
}