.badge-container {
    padding: 2px 8px;
    background: white;
    font-size: 12px;
    border-radius: 5px;
    font-weight: 700;
}
.badge-container.primary{
    background: #4DA1FF;
    color: white;
}
.badge-container.secondary{
    background: lightgray;
}