 
  .custom-input-field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    position: relative;
    width:383px;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  .custom-input-field input {
    width: 100%;

  }
  .custom-input-field label,
  .custom-input-field input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  .custom-input-field input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 3px;
    cursor: text;
  }

  .input-placeholder {
    cursor: text;
    display: none;
    opacity: 0;
    transition: opacity 150ms linear;
    position: absolute;
    bottom: 5px;
    color: #888;
    font-size: 16px;
    left: 6px;
  }

  .custom-input-field input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  .custom-input-field label {
    text-transform: capitalize;
    color: #686e82;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    line-height: 26px;
    position: relative;
    transform-origin: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: scale(1.5);
    top: 23px;
    cursor: text;
  }