/* .ant-select-dropdown,
.ant-calendar-picker-container{
  z-index: 1000000;
} */
.coupon-tabel-row {
  position: relative;
}

.select-coupons {
  width: 70%;
  max-width: 70%;
}

.coupon-edit-modal {
  max-width: 800px;
}