.bump-offer-toggle-button .toggle-bar{
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid var(--header-text-color);
}

.bump-offer-toggle-button .toggle-bar .circle{
  background-color: var(--header-text-color);
  margin: 0;
  border: none;
}

.bump-offer-toggle-button .toggle-bar.active .circle{
  background-color: var(--active-mark-color);
}

.bump-offer-toggle-button .toggle-bar.active{
  background-color: var(--header-text-color);
}





.bump-offer-toggle-button .ant-radio-inner{
  border-color: var(--header-text-color);
  background-color: transparent;
}


.bump-offer-toggle-button .ant-radio-checked .ant-radio-inner::after{
  background-color: var(--header-text-color);
}


.bump-offer-toggle-button .checkbox-container{
  padding-left: 30px
}


.bump-offer-toggle-button .checkbox-container.active .checkmark:after{
  top: 1px;
}