.template-payment-methods-container{
  position: relative;

}
.template-payment-method-title{
  margin: 5px 0px 10px 0px;
}

.template-payment-gateway-demo{
  width: 197px;
  height: auto;
  margin: 15px auto;
}
.template-payment-gateway-demo.credit-card{
    width: 350px;
}

.payment-setting-btn{
  display: block;
}