.underdevelopment-container{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#58BBF3;
  }
  .underdevelopment-head-message{
    font-size:80px;
  }
  .underdevelopment-notes {
    font-size: 21px;
    margin: 14px;
}
.underdevelopment-thanks {
    font-size: 22px;
    margin-top: 150px;
    float: right;
}