.custom-radio-container{
  border: 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  padding: 0;
  margin: 0;
}


.custom-radio-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;  
}


.custom-radio-checkmark {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: red;
  transition: .2s transform ease-in-out;
  background-color: var(--radio-checkmark-color);
}


.custom-radio-container.active .custom-radio-checkmark{
  transform: translate(-50%, -50%) scale(1)
}

