.sidebar-avatar-container {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.sidebar-avatar-image-container{
  position: relative;
  cursor: pointer;
}

.sidebar-avatar-settings-icon {
  width: 23px;
  height: 23px;
  background-color: #fff;
  position: absolute;
  bottom: -4px;
  right: -2px;
  border-radius: 50%;
  box-shadow: 0 .5px 2.5px rgba(56, 73, 76, 35);
  transition: .3s transform ease-in-out;
}

.sidebar-avatar-settings-icon:hover{
  transform: scale(1.1);
}
