.funnel-work-space{
    /* position: relative;
    padding-top: 50px; */

    position: relative;
    flex: 1;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}


.fixable-product-node{
    position: absolute;
}
.connecting-mode{
    cursor: url("../../../../assets/images/icons/crosshair.png")  11 11, crosshair ;
}

