/* overwrit */
#intercom-container{
    z-index:  2147483644 !important;
}

.notification-message-container{
    background: white;
    position: fixed;
    bottom: 20px;
    right:  20px;
    min-width: 200px;
    max-width: 400px;
    min-height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
    transition: transform .5s ease-in-out;
    transform: translateX(450px);
    z-index:  2147483647;
}

.show-notification-message{
    transform: translateX(0px);
}

.notification-success-message::before,
.notification-failure-message::before{
    content: 'LEADCART';
    position: absolute;
    color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-orientation: 90deg;
    font-size: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: center;
    left: -15px;
    height: 100%;
    width: 20px;
    background: #007AFF;
}
.notification-failure-message::before{
    background: tomato;
}

.notification-close-btn{
    position: absolute;
    top: 5px;
    right:10px;
    color:lightgray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 400ms ease-in-out ;
}
.notification-close-btn:hover{
    color:gray;
}

.notification-message{
    padding: 15px;
    color:gray;
    white-space: pre-line;
    user-select: none;
}