.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.large-text {
  font-size: 16px;
}

.larger-text {
  font-size: 22px;
}

.white-text {
  color: white;
}

.relative-element {
  position: relative;
}

.full-width {
  width: 100%;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-10 {
  margin: 10px 0px;
}

.margin-top-20 {
  margin: 20px 0px;
}

.margin-left-3 {
  margin-left: 3px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-h-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-h-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.not-underlined {
  text-decoration: none;
}

.bold-text {
  font-weight: bold;
}

.animate {
  transition: all .3s ease-in-out;
}

.gray-text {
  color: #33333354;
}

.small-text {
  font-size: 12px;
}

.animate.gray-text:hover {
  color: #333333;
}

.active.gray-text {
  color: #333333;
}

.underlined-text {
  padding-bottom: 3px;
  border-bottom: 2px solid #33333354;
}

.underlined-text:hover {
  border-bottom: 2px solid #333333;
}

.error-text {
  color: #f82b60;
  font-weight: 500;
  font-size: 12px;
}

.success-text {
  color: #20c934b9;
}

.white-color {
  color: white;
}

.white-bg {
  background: white;
}

.border-left-text {
  padding-left: 10px;
  border-left: 2px solid lightgray;
}

.btn.light-btn {
  background: white;
  color: #808292;
  border: 1px solid #E8E8EF;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  outline-style: none;
  box-shadow: unset;
}

.btn.light-btn.active,
.btn.light-btn:hover {
  background: #FBFBFB;
  color: #393C44;
  border-color: #808292;
}

.btn.solid-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn.solid-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gray-border-top {
  border-top: 1px solid #eee;
}

.lightgray-border-top {
  border-top: .8px solid rgba(238, 238, 238, 0.726);
}

.lightgray-border-bottom {
  border-bottom: .8px solid rgba(238, 238, 238, 0.726);
}

.btn.icon-btn {
  padding: .5rem .6rem;
}


.note-text {
  color: #9E9E9E;
  font-size: 13px;
  margin: 30px 0 0 0;
}


/* Line Through Text  */
.line-though {
  text-decoration: line-through;
}


.df-h-between {
  display: flex;
  justify-content: space-around;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-h-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.margin-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.underlined {
  border: 0;
  border-bottom: 1px solid #e3e3e3;
}

.badge {
  padding: 2px 10px;
  border-radius: 4px;
}

.gray-badge {
  background: lightgray;
  color: white;
}

.width-300 {
  width: 300px;
}

.width-100 {
  width: 100px;
}

.width-70 {
  width: 70px;
}

.no-text-wrap {
  white-space: nowrap;
}

.dashed-text {
  border-bottom: 1px dashed #eee;
}

.lightgray-border {
  border: 1px solid lightgray;
}

.aligned-center-text {
  text-align: center;
}

.soft-edges {
  border-radius: 3px;
}

.item-clickable {
  cursor: pointer;
}

.item-disabled {
  opacity: .8;
  filter: grayscale(.5);
  cursor: not-allowed;
}

.rotate-180 {
  transform: rotate(180deg);
}

.soft-shadow {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-20 {
  font-size: 20px;
}

.item-grabbable {
  cursor: grab;
}

.width-percent-60 {
  width: 60%;
}

.small-image {
  width: 45px;
  height: 70px;
}

.rounded {
  border-radius: 50%;
}

.line-up-10 {
  position: relative;
}

.line-up-10::before {
  position: absolute;
  content: " ";
  top: -10px;
  left: 49%;
  width: 2px;
  height: 10px;
  background: #80808078;
}

.primary-color {
  background: #4DA1FF;
}

.yellowish-color {
  color: rgb(255, 205, 111);
}
.orange-color {
  color: rgb(241, 83, 10);
}

.warning-bg {
  background: tomato;
}
.warning-color {
  color: tomato;
}
.danger-bg {
  background: rgb(219, 40, 70);
}
.danger-color {
  color: rgb(219, 40, 70);
}

.green-color {
  background: #17C671;
}

.purple-color {
  background: #B892E9;
}

.darkgray-color {
  color: #393C44;
}

.gray-color {
  /* color: #C9D3DC; */
  color: #808292;
}

.gray-bg {
  background: #C9D3DC;
}


.btn.gray-bg:hover {
  /* background: rgb(154, 158, 161); */
  background: #afb7bd;
}

.lightgray-bg {
  background: #eee;
}

.flex-item {
  flex: 1;
}

.min-width-100 {
  min-width: 100px;
}

.min-width-250 {
  min-width: 250px;
}

.min-width-400 {
  min-width: 400px;
}

.min-width-600 {
  min-width: 600px;
}

.max-width-100 {
  max-width: 100px;
}

.max-width-150 {
  max-width: 150px;
}

.max-width-200 {
  max-width: 200px;
}

.max-width-300 {
  max-width: 300px;
}

.max-width-400 {
  max-width: 400px;
}

.min-height-100 {
  min-height: 100px;
}

.min-height-200 {
  min-height: 200px;
}

.min-height-300 {
  min-height: 300px;
}

.min-height-400 {
  min-height: 400px;
}

.min-height-500 {
  min-height: 500px;
}

.mirror {
  display: inline-block;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.outline-style-none:active,
.outline-style-none:focus,
.outline-style-none {
  outline-style: none;
}

.max-height-75vh {
  max-height: 75vh;
}

.max-height-percent-100 {
  max-height: 100%;
}

.scrolling-72vh {
  max-height: 72vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrolling-47vh {
  max-height: 47vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrolling-70vh {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.transparent-background {
  background: transparent;
}

.card-style {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.card-icon {
  cursor: pointer;
  font-size: 17px;
}

.card-icon-wrapper {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.card-icon-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.show-on-parent-hover{
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.parent-hover:hover .show-on-parent-hover{
  opacity: 1;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}