.powered-by-leadcart{
    position: absolute;
    right: 50px;
    bottom: 0px;
    padding: 5px 10px;
    padding-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 11px;
    opacity: .8;
}
.powered-by-leadcart a{
    text-decoration: unset;
    color:white;
}