.custom-slider-input {
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  max-width: 30px;
  font-size: .8rem;
}


.custom-slider-main-content{
  color: gray;
}


.custom-slider-label{
  color: #33333354;
  margin: 0;
}


.custom-slider-unit {
  margin: 0;
  margin-left: 3px;
}


input.custom-slider-input::-webkit-outer-spin-button,
input.custom-slider-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

