.template-preview-container{
    width: 100px;
    height: 188px;
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px;
}
.template-preview-container:nth-last-child(1) {
    height: 188px;
    width: 200px;
}
.preview-image {
    position: relative;
    height: 100%;
    width: 100%;
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}
.preview-image:hover{
    box-shadow: 2px 2px 5px 2px rgb(0,0,0,.14);
}

.template-preview-footer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.flex-row-wrap{
    display: flex;
    flex-wrap: wrap;
}
.preview-select-btn {
    background: white;
    color: #4da1ffe3;
    border: 1px solid #4da1ff82;
    border-radius: 3px;
    font-weight: 400;
    padding: 5px 12px 12px 13px;
}
.active-template-preview {
    box-shadow: 0 0 1px 2px #8ED1FC;
}
.active-template-preview:after {
        position: absolute;
        top: 10px;
        left: 2px;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        font-size: 15px;
        content: "\F058";
        color: #30e030b5;
}
span.template-preview-name {
    font-size: 14px;
    margin: auto 0px;
}
