.leadcart-card {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.leadcart-card .card-header {
  border-bottom: 1px solid #c5c5c5;
  color: #000000D9
}


.leadcart-card .card-header,
 .leadcart-card .card-body, 
 .leadcart-card .card-footer {
  padding: 12px;
}
