 .blur-bg-img-container{
  min-height: 100px;
  min-width: 100px;
  position: relative;
  overflow: hidden;
}


.blur-bg-img-container .blur-bg-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  min-height: 100%;
  width: 100%;
}

.blur-bg-img-container .wrapped-image-container{
  height: 100%;
  width: 100%;
  position: absolute;
}

