@import url("https://use.typekit.net/wtl7grn.css");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


.ql-tooltip {
    z-index: 10000 !important;
}

.ql-picker.ql-font .ql-picker-item {
    font-size: 0;
}

.ql-picker.ql-font .ql-picker-item::before {
    content: attr(data-value) !important;
    font-size: 14px;
}

.ql-picker.ql-font .ql-active::before {
    content: attr(data-value) !important;
    font-size: 14px;
}

/* Support Font Families */


.ql-font-Raleway {
    font-family: 'Raleway';
}

.ql-font-Roboto {
    font-family: 'Roboto';
}

.ql-font-Modak {
    font-family: 'Modak', cursive;
}

.ql-font-Merriweather {
    font-family: 'Merriweather', serif;
}

.ql-font-Courier {
    font-family: Courier, monospace;
}

.ql-font-Cairo {
    font-family: 'Cairo', sans-serif;
}

.ql-font-Dancing {
    font-family: 'Dancing Script', cursive;
}

.ql-font-Helvetica {
    font-family: 'Helvetica', Arial, sans-serif;
}

.ql-font-Ubuntu {
    font-family: 'Ubuntu';
}

.ql-font-Anton {
    font-family: anton, sans-serif;
}

.ql-font-Halant {
    font-family: 'Halant', serif;
}

.ql-font-Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.ql-font-PTSerif {
    font-family: 'PT Serif', serif;
}
.ql-font-BebasNeue {
    font-family: 'Bebas Neue', cursive;
}
.ql-font-Rubik {
    font-family:'Rubik', sans-serif;
}



.ql-container{
    font-family: inherit;
}

