.ql-tooltip {
    z-index: 10000 !important;
    /* position:fixed; */
}


/*  Adding font sizes Overrides */
/* 
.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: 'Tiny';
    font-size: 14px !important;
}

.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: 'Small';
    font-size: 16px !important;
}

.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: 'Normal';
    font-size: 18px !important;
}
.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before {
    content: 'Big';
    font-size: 22px !important;
}
.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: 'Large';
    font-size: 24px !important;
}
.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
    content: 'Larger';
    font-size: 28px !important;
}
.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
    content: 'Extra Large';
    font-size: 32px !important;
}
.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
    content: 'Largest';
    font-size: 36px !important;
} */