.explort-csv-btn {
    float: right;
}

.orders-chart-container {
    background: white;
    margin: 20px 0px;
    padding: 20px;
}




.row-expand {
    margin-left: 10px;
    cursor: pointer;
}

.row-expand i.fas {
    color: gray;
    transition: color .3s ease-in-out;
}

.row-expand:hover i.fas {
    color: rgb(73, 72, 72);
}
.with-relative-rows{
    background-color: #eee !important;
    padding: 12px 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.with-relative-rows{
    border-radius: 0 !important;
}
.sub-total-row{
    border-top: 2px dashed gray;
}
.total-row{
    border-top: 2px solid gray;
}

.sub-total-row,
.total-row{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 15px !important;
}