.logo-position .logo-container{
  position: relative;
  margin: auto;
}
.logo-image{
  height: 25px;
}
.logo-shadow{
  position: absolute;
  left: 0px;
  top:6.5px;
}
.logo-position {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business-name{
  text-transform: uppercase;
  margin-left: 6px;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.header-logo{
  background: #4DA1FF;
  display: flex;
  justify-content: center;
  align-content: center;
  /* width: 100%; */
  padding:8px 12px;
  padding-right: 25px;
  cursor: pointer;
  background: var(--primary-color);
}

.announcekit-widget{
  position: relative;
  right: -10px;
  /* top:calc(50% - .5em); */
  color:white;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.announcekit-widget abbr{
  cursor: unset;
}
.announcekit-widget i.fas{
  padding-right: 5px;
}
.announcekit-widget-badge{
  width: 1.2em !important;
  height: 1.2em !important;
  line-height: unset !important;
  font-size:.7em unset !important;
  display: flex  !important;
  justify-content: center;
  align-items: center;
}