.upsell-feature-item{
    flex:1;
    min-width: 45%;
    color: white;
    margin:5px 5px 5px 25px;
}
.upsell-feature-title{
    position: relative; 
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    background:#03A9F4;
    border-top-right-radius: 3px;
    padding: 3px 3px 3px 20px;
}
.feature-number{
    position: absolute;
    top: 0px;
    border:1.5px solid white;
    left: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4ea0fc;
}
.upsell-feature-description{
    padding-left:20px; 
    background: rgba(78, 160, 252, 0.71);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}