.Collapsible:first-child{
    margin: 15px 0px 0px 0px;
}
.Collapsible{
    margin: 5px 0px;
}
span.Collapsible__trigger {
    display: block;
    background: white;
    padding: 15px 5px;
    border: 1PX solid #ded2d2;
    border-radius: 5px;
    font-size: 15px;
    user-select: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #403a49;
    cursor: pointer;
}
span.Collapsible__trigger.is-open {
    display: block;
    background: white;
    padding: 15px 5px;
    border: 1PX solid #ded2d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid #ded2d2;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
 
}
.Collapsible__contentInner {
    background: white;
    padding: 20px 5px;
    border-bottom: 1px solid #8080807a;
}