.tax-zones-table-row{
  border: 1px solid rgb(218, 217, 217);
}


.tax-zones-delete-icon,
.tax-zones-edit-icon,
.tax-zones-cancel-icon{
  cursor: pointer;
  opacity: .7;
  transition: .4s opacity ease-in-out, .4s transform ease-in-out;
}



.tax-zones-delete-icon:hover,
.rates-per-zone-body-row-delete-icon:hover,
.tax-zones-cancel-icon:hover,
.tax-zones-edit-icon:hover{
  opacity: 1;
  transform: scale(1.25);
}


.tax-zones-cancel-icon,
.tax-zones-edit-icon{
  color: var(--primary-color);
}


.rates-per-zone-body-row-delete-icon,
.tax-zones-delete-icon{
  color: #c23616;
}

.tax-zones-delete-icon{
  opacity: 0;
}


.tax-zones-table-row:hover .tax-zones-delete-icon{
  opacity: .7;
}


/* ================== Expandable Style ================== */
.tax-zones-container .expandable{
  height: 0;
  overflow: hidden;
  transition: .4s height ease-in-out, .4s padding ease-in-out;
  transform: translateY(-15px);
  position: relative;
}


.tax-zones-container .expandable.open{
  height: 395px;
  border: 1px solid rgb(218, 217, 217);
  border-top: none;
  overflow: auto;
}

.tax-zones-container .tax-zones-table-row.open{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.tax-zones-container .expandable-form-select .css-1pahdxg-control,
.tax-zones-container .expandable-form-select .css-yk16xz-control{
  background:transparent;
  width: 402px;
  color: #2B3748;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -.012rem;
  padding: 0px 5px;
  background: rgba(188, 201, 214, 0.1);
  outline-color: lightgray;
}

.tax-zones-container .expandable-form-select .css-yk16xz-control .css-tlfecz-indicatorContainer{
  padding: 0;
}

.tax-zones-container .expandable .toggle-bar:before{
  left: -45px
}

.tax-zones-container .expandable .toggle-bar:after{
  left: 42px
}



/* ================== Select Boxes Style ================== */
.displayed-zone-options,
.available-zone-options{
  height: 170px;
  overflow: auto;
  border:1px solid #ccc;  
}

.zone-option-item{
  border:1px solid #eee;  
  transition:padding .3s ease-in-out, background .3s ease-in-out, color .3s ease-in-out;
}

.zone-option-item:hover{
  background: rgb(117, 173, 238);
  color:white;
  padding-right: 20px !important;
  position: relative;
}

.zone-option-item:hover::after{
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  color:white;
  transition: opacity .4s ease-in-out;
}

.displayed-zone-options .zone-option-item:hover::after{
  content: "\f00d";
}

.available-zone-options .zone-option-item:hover::after{
  content: "\f067";
}


