.bump-offer-top-image{
  padding: 15px;
  min-width: 312px;
  max-width: 550px;
  margin: auto;
}


.bump-offer-top-image .bump-offer-img-container{
  height: 150px;
  position: relative;
  margin:10px 0;
  overflow: hidden;
}


.bump-offer-top-image .bump-offer-img-bg-container{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px) ;
  height: 100%;
  width: 100%;
}

.bump-offer-top-image .bump-offer-img-container .wrapped-image-container{
  height: 100%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}


.bump-offer-top-image .bump-offer-headline{
  margin: 0 0 10px 0;
  font-weight: bold;
}


.bump-offer-top-image .bump-offer-desc{
  margin: 0;
}
