.section-feature-item {
  position: relative;
  margin: 5px 0px;
  display: flex;
  font-size: 15px;
  padding: 0px 20px;
  width: 100%;
}

.feature-item-input {
  white-space: pre-line;
  width: 100%;
  display: inline-block;
  color: #A2A2A2;
}

.feature-item-input .ql-editor{
  padding: 2px;
  border: 1px solid transparent;  
  border-radius: 3px;
}

.feature-item-input .ql-editor:focus{
  border: 1px solid gray;
}

.feature-item-delete-btn {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -15px;
  /* bottom: 2px; */
  /* height: 18px;
  width: 18px; */
  font-size: 12px;
  border-radius: 50%;
  color: lightcoral;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.section-feature-item:hover .feature-item-delete-btn {
  opacity: 1;
}

.feature-item-point {
  position: absolute;
  left: 0px;
  top: 4px;
  height: 18px;
  width: 18px;
  color: white;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}


.point-unordered-circles,
.point-ordered-circles {
  border-radius: 50%;
}

.point-unordered-circles:not(.check-marks),
.point-unordered-bullets:not(.check-marks){
  height: 12px;
  width: 12px;
  top: 7px;
}
.point-unordered-circles .order,
.point-unordered-bullets .order {
  display: none;
}

.feature-item-point.check-marks {
  display: flex;
}

.point-unordered-circles.check-marks,
.point-unordered-bullets.check-marks {
  /* position: relative; */
  /* display: none; */
  justify-content: center;
  align-items: center;
}

.check-marks::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 11px;
  content: "\f00c";
  color: white;
}

.point-unordered-image {
  an: tex;
}