.ui.steps .step {
    padding: .942857em .6em !important;
    color:#607D8B !important;
}
.ui.step, .ui.steps .step {
    font-size: .9rem !important;
}
.ui.ordered.steps .step:before{
    font-size: 1rem !important;
}
.ui.ordered.steps{
    display: flex;
}
.ui.steps .step .title{
    font-family: inherit !important ;
    font-size: .8rem !important;
}

.ui.ordered.steps .step.completed:before, .ui.steps .step.completed>.icon:before {
    color: #8BC34A;
}