.product-template-testimonials-container{
  margin: 20px 0;
  position: relative;
}
.product-template-testimonials-container h3{
  position: relative;
  font-size: 20px;
  max-width: 270px;
  text-align: center;
}

.author-description input {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.mobile .author-description input {
  max-width: 170px;
} 
.tablet .author-description input {
  max-width: 280px;
}
.mobile .author-description input, .tablet .author-description input {
  overflow: hidden;
  text-overflow: ellipsis;
}