.editable-product-form-container{
  flex:1;
  height: 100%;
  overflow: auto;
}

.product-template-body{
  display: flex;
  padding: 20px;
  /* flex-direction: column; */
}
.billing-components-section{
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.richening-components-section{
  max-width: 290px;
  padding: 0px 22px;
}


