.resizable-flexibleBox {
    min-height: 20px;
    position: relative;
}

.resizable-flexibleBox .expander {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12px;
    background-color: #eee;
    cursor: ns-resize;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: height .3s ease-in-out;
}

.resizable-flexibleBox .expander:hover{
    height: 22px;
}

.expander-icon {
    font-size: 30px;
}


.show-on-parent-hove .expander {
    display: none;
}

.show-on-parent-hove:hover .expander {
    display: flex;
}