.note.general-note {
    border-left: 3px solid #4ea0fc;
}

.note.general-note code {
    /* background: #eee; */
    padding: 0px 5px;
    border-radius: 3px;
    color: rgb(77, 161, 255);
    border-bottom: 1px solid #eee;
}
.copy-icon{
    color: lightgray;
    cursor: pointer;
    margin-left: 3px;
}

