.bump-offer-side-img{
  padding: 15px;
  width: 68%;
  margin: auto;
}

.bump-offer-side-img .bump-offer-main-content{
  margin-top: 15px;
  flex: 1;
}


.bump-offer-side-img .bump-offer-side-img-container{
  min-height: 150px;
  min-width: 150px;
  object-fit: contain;  
}


.bump-offer-side-img .bump-offer-side-img-container .wrapped-image-container {
  min-height: 120px;
  min-width: 120px;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.bump-offer-side-img .bump-offer-side-img-container img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.bump-offer-texts {
  flex: 1;
}


.bump-offer-side-img .bump-offer-headline{
  margin: 0 0 10px 0;
  font-weight: bold;
}


.bump-offer-side-img .bump-offer-desc{
  margin: 0;
}
