.bump-offer-side-image{
  padding: 15px;
  min-width: 312px;
  max-width: 550px;
  margin: auto;
}

.bump-offer-side-image .bump-offer-main-content{
  margin-top: 15px;
  flex: 1;
}


.bump-offer-side-image .bump-offer-side-image-container{
  min-height: 130px;
  min-width: 130px;
  object-fit: contain;  
  justify-content: center;
  align-items: center;
}


.bump-offer-side-image .bump-offer-side-image-container .wrapped-image-container {
  min-width: 130px;
  min-height: 130px;
  border-radius: 5px;
}

.bump-offer-side-image .bump-offer-side-image-container img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.bump-offer-texts {
  flex: 1;
}


.bump-offer-side-image .bump-offer-headline{
  margin: 0 0 10px 0;
  font-weight: bold;
}


.bump-offer-side-image .bump-offer-desc{
  margin: 0;
}


