.page-badge-section {
    display: flex;
    justify-content: flex-start
}

.product-section.absolute-top {
    position: absolute;
    top: -29px;
    left: -11px;
    right: 0px;
    height: 133px;
}
.product-section.absolute-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.product-badge-image {
    height: 100px;
    width: auto;
}