.side-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  min-width: 200px;
  max-width: 200px;
  background: white;
  z-index: 1000;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 41px 80px fit-content(0) auto fit-content(0);
  grid-template-areas:
    "logo"
    "avatar-box"
    "brands"
    "menu-navigation"
    "tail-actions";
}

.side-bar.settings-open {
  grid-template-rows: 41px 80px fit-content(0) auto 170px;
}

.header-logo {
  grid-area: logo;
}

.profile-preview {
  grid-area: avatar-box;
}

.brands-navigation {
  grid-area: brands;
}

.side-bar-navigation {
  grid-area: menu-navigation;
  height: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.tail-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

/* avatar preview component*/
.avatar-preview {
    display: flex;
    flex-direction: column;
}

.avatar-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.change-avatar-layer {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.user-avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.change-avatar-image {
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    color: white;
    border-radius: 50%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 350ms ease-in-out;
}

.change-avatar-image:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3)
}

.user-name {
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    text-transform: capitalize;
    max-width: 150px;
    flex-wrap: wrap;
    text-align: center;
}

.setting-short {
    padding: 6px 10px;
    background: white;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 41px;
    color: #0080fa;
    cursor: pointer;
    z-index: 100;
    transition: all 350ms ease-in-out;
}

.setting-short:hover {
    box-shadow: 0px 0px 5px 0px #00000040;
}

/* avatar preview component ends*/

/* new product button  */

.new-product-btn {
    background: #FF7B7F;
}

/* menu section */
.menu-container {
    margin: 50px 0 20px 40px;
    margin-bottom: 40px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.menu-item {
    position: relative;
    font-weight: bold;
    line-height: 16px;
    font-size: small;
    color: #2B3748;
    margin: 6px 0px;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    flex: 1;
}

.locked-feature {
    position: relative;
    color: #C9D3DC;
    opacity: .6;
    pointer-events: all;
}

.upgrade {
  height: 42px;
  width: 100%;
}

.upgrade-btn:not(:hover) {
    background: #C9D3DC !important;
}

.tiny-text {
    font-size: 11px;
}
.tinier-text {
    font-size: 8px;
}

.locked-feature.sideBar-item svg.sideBar-icon rect,
.locked-feature.sideBar-item svg.sideBar-icon path,
.locked-feature.sideBar-item svg.sideBar-icon {
    fill: #C9D3DC;
    stroke: #C9D3DC;
}

svg.sideBar-icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    object-fit: contain;
    fill: #2B3748;
    stroke: #2B3748;
    transition: transform .3s ease-in-out;
}

svg.sideBar-icon rect,
svg.sideBar-icon path {
    fill: #2B3748;
    stroke: #2B3748;
}

.sideBar-item:hover:not(.locked-feature) svg.sideBar-icon,
.sideBar-item.active:not(.locked-feature) svg.sideBar-icon {
    transform: scale(1.5);
    fill: #4DA1FF;
    stroke: #4DA1FF;
}

.sideBar-item:hover svg.sideBar-icon rect,
.sideBar-item.active svg.sideBar-icon rect,
.sideBar-item:hover svg.sideBar-icon path,
.sideBar-item.active svg.sideBar-icon path{
    fill: #4DA1FF;
    stroke: #4DA1FF;
}
.brands-navigation, .side-bar-navigation {
  overflow-y: scroll;
  overflow-x: hidden;
  align-self: flex-start;
}

.brands-navigation.is-open {
  min-height: calc(100vh - 130px);
  animation: resize-to .15s forwards ease-in;
}

.brands-navigation:not(.is-open) {
  animation: resize-from .15s forwards ease-in;
}

.sidebar-topper {
  max-height: calc(100% - 42px);
}

@keyframes resize-to {
  from {min-height: 49px}
  to {min-height: calc(100vh - 130px)}
}

@keyframes resize-from {
  from {min-height: calc(100vh - 130px)}
  to {min-height: 49px}
}
