.dashboard-page{
    display: flex;
    flex-direction: column;
}

.dashboard-head{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.head-title {
    font-weight: 500;
    line-height: 41px;
    font-size: 34px;
    color: #2B3748;
}
.sub-title {
    line-height: 20px;
    font-size: 15px;
    font-weight: 100;
    color: #2B3748;
}

.dashboard-sidebar {
    width: 243px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    align-items: center;
}

.btn-primary {
    background: #4DA1FF;
}