.success-urls-container{
    max-height: 200px;
    overflow: auto;
}
.success-url-row{
    align-items: center;
}
span.success-order {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #4da0fc;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    /* text-align: center; */
}

.success-url-delete-btn {
    margin: 0px 15px;
    cursor: pointer;
    opacity: .7;
    transition: opacity .3s ease-in-out;
}
.success-url-delete-btn:hover {
    opacity: 1;
}


.new-fulfillment-btn{
    margin: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.new-fulfillment-btn .add-label,
.new-fulfillment-btn:hover{
    color:black;
}
.new-fulfillment-btn .add-label{
    margin-right: 20px;
}

.new-fulfillment-btn i.fas{
    background: #4da0fc;
    color:white;
    height: 15px;
    width: 15px;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.success-url-interval {
    display: flex;
    min-width: 240px;
    justify-content: space-around;
    align-items: center;
}
.success-url-interval-label-text{
    width: unset;
    margin: 0 10px;
}

.success-url-interval-interval {
    border: 1px solid lightgray;
    padding: 4px;
    background: white;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.success-url-interval-value input {
    width:70px;
}
.success-url-interval-interval:disabled {
    background: #eee;
}


.success-url-interval-select{
    display: flex;
    min-width: 70px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}