.products-controls-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share-btn {
    background: #4DA1FF;
}
.btn.share-btn i {
    margin: 0px 5px;
}
.save-changes-btn{
    background:#17C671;
}


