
.promo-container{
    display: flex;
    flex-direction: column;
    /* margin: -30px 0px 50px 0px; */
}
.promo-input{
background: rgba(188, 201, 214, 0.1);
border: 0.5px solid rgba(201, 211, 220, 0.589);
left: 41.04%;
right: 41.04%;
top: 26.02%;
bottom: 69.81%;
outline-style: none;
height: 28px;
width: 277px;
margin: 0px auto;
padding:0px 10px;
}

.promo-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
    font-size: 27.2px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2B3748;
}
.promo-description{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.016em;
    color: #2B3748;
}


.payment-logs img {
    margin: 18px 40px;
    height: 50px;
    width: auto;
}

.form-input.credit-card:before{
    content:'Credit card number';
    position: absolute;
    font-size: 9px;
    left: 20px;
    top: 0px;
    color: #717C8A;
}
.form-input.date:before{
    content:'Month / Year' ;
    position: absolute;
    font-size: 9px;
    left: 20px;
    top: 0px;
    color: #717C8A;
}
.form-input.cvv:before{
    content:'CVV';
    position: absolute;
    font-size: 9px;
    left: 20px;
    top: 0px;
    color: #717C8A;
}

.payment-logs img:nth-last-child(4) {
    margin-left: 53px;
    height: 67px;
    margin: 20px 30px;
    width: 84px;
}

.payment-logs {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding: 0 -15px;
    align-items: center;
    padding-bottom: 30px;
}
.payment-logs div{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 20px;
}
.form-row{
    display: flex;
    width: 80%;z
    flex-direction: row;
}
.signup-btn {
    margin-top: 30px !important;
    background: #17C671 !important;
}