.pre-create-funnel-modal {
    padding: 30px 60px;
    border-radius: 2px;
    min-width: 600px;
}

.funnel-form-content {
    border-left: 3px solid #eee;
    padding-left: 10px;

}

.funnel-name-input-row {
    align-items: center;
    color: dimgray;

}

.funnel-name-input-label {
    width: unset;
    margin-right: 20px;
}

.funnel-name-input-label .input-label {
    color: dimgray;
}

.funnel-modal-templates-title.big {
    font-size: 20px;
    margin-bottom: 20px;
}

.funnel-modal-templates-title {
    font-size: 17px;
    color: dimgray;
    padding-bottom: 10px;
}

.modal-template-image {
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 5px;
    border: 1px solid #eee;
    height: min-content;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.modal-template-image p{
    margin: 0;
}

.modal-template-image img {
    height: 100px;
    border-radius: 5px 5px 0 0 ;
    width: 155px;
}

.modal-template-image.active {
    position: relative;
}

.modal-template-image.active:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f058";
    font-size: 30px;
    bottom: 5px;
    right: 10px;
    color: #4DA1FF;
}

.funnel-card {
    height: 230px;
    width: 200px;
    position: relative;
    padding: 5px;
    margin: 5px;
    background-color: white;
    overflow: hidden;
}


.funnel-card-duplicate{
    border: none;
    cursor: pointer;
    top: 60px;
    position: absolute;
    left: 15px;
}

.funnel-card-duplicate:focus{
    border: none;
    outline: none;
}

.funnel-bg {
    padding: 5px 10px;
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.funnel-status-hat {
    position: absolute;
    right: -5px;
    top: 42px;
    transform: rotate(177deg);
    height: 23px;
    width: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.beta-badge{
    position: absolute;
    top: 48px;
    right: 13px;
    background-color: #4da1ffbf;
    color: white;
    font-size: 13px;
    padding: 1px 10px;
    font-weight: bold;
    border-radius: 10px;
}

.funnels-shadow-loading{
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
}
