#credit-card-box {
  margin: 20px 5px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#credit-card-box .kJnpoy {
  border: .8px solid rgba(0, 0, 0, 0.2) !important;
}

.unwanted-pregnancy > div > label:nth-child(n+3) {
  display: none;
}
