.shipping-roles-table-row{
  border: 1px solid rgb(218, 217, 217);
  transition: .4s background ease-in-out, .4s opacity ease-in-out;
}


.shipping-role-delete-icon,
.shipping-role-edit-icon,
.shipping-role-cancel-icon{
  cursor: pointer;
  opacity: .7;
  transition: .4s opacity ease-in-out, .4s transform ease-in-out;
}



.shipping-role-delete-icon:hover,
.costs-per-zone-body-row-delete-icon:hover,
.shipping-role-cancel-icon:hover,
.shipping-role-edit-icon:hover{
  opacity: 1;
  transform: scale(1.25);
}


.shipping-role-cancel-icon,
.shipping-role-edit-icon{
  color: var(--primary-color);
}


.costs-per-zone-body-row-delete-icon,
.shipping-role-delete-icon{
  color: #c23616;
}

.shipping-role-delete-icon{
  opacity: 0;
}


.shipping-roles-table-row:hover .shipping-role-delete-icon{
  opacity: .7;
}

/* ================== Expandable Style ================== */
.shipping-roles-container .expandable{
  overflow: hidden;
  transition: .4s height ease-in-out, .4s padding ease-in-out, opacity .25s ease-in-out .4s ;
  transform: translateY(-15px);
  opacity: 0;
}



.shipping-roles-container .expandable.open{
  border: 1px solid rgb(218, 217, 217);
  border-top: none;
  opacity: 1;
}

.shipping-roles-container .shipping-roles-table-row.open{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.shipping-roles-container .expandable .toggle-bar:before{
  left: -45px
}

.shipping-roles-container .expandable .toggle-bar:after{
  left: 42px
}

/* ================== Costs Per Zone Style ================== */
.costs-per-zone{
  width: 450px;
}

.expandable .costs-per-zone-body-row,
.expandable .costs-per-zone-header{
  height: 20px;
}

.expandable .costs-per-zone-body-row > *:nth-child(1),
.expandable .costs-per-zone-header > *:nth-child(1){
  width: 60%;
}

.expandable .costs-per-zone-body-row > *:nth-child(2),
.expandable .costs-per-zone-header > *:nth-child(2){
  width: 25%;
}


.expandable .costs-per-zone-header{
  background-color: #4DA1FF;
  border-radius: 8px 8px 0 0;
  padding: 17px 10px;
}

.costs-per-zone-header-title{
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}


.costs-per-zone-body{
  border-radius: 8px;
}

.expandable .costs-per-zone-body-row{
  border-bottom: 1px solid #cdd4db;
  padding: 25px 10px;
  background-color: #f9fafb;
}


.expandable .costs-per-zone-body-row .costs-per-zone-body-row-delete-icon{
  cursor: pointer;
  opacity: 0;
  transition: .4s opacity ease-in-out, .4s transform ease-in-out;
}

.expandable .costs-per-zone-body-row:hover .costs-per-zone-body-row-delete-icon{
  opacity: .7;
} 

.expandable .costs-per-zone-body-row:last-of-type{
  border-bottom-color: transparent;
  border-radius: 0 0 8px 8px !important;
}


.costs-per-zone-body-input {
  text-align: center;
  background-color: #fff;
}


.expandable .costs-per-zone-body .css-tlfecz-indicatorContainer{
  padding: 0 8px;
}

.expandable .costs-per-zone-body .css-yk16xz-control{
  min-height: 30px;
}

.expandable .costs-per-zone-body .css-b8ldur-Input{
  padding: 0;
  margin: 0;
}


.expandable ::-webkit-scrollbar-track {
  display: none;
}
