.background-image-elements {
    background-color: #0074f2;
    background-image: url(../../assets/images/access-background-elements.svg);
    background-position: 0% -300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container{
    background: white;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-content{
  margin: 40px 100px;  
  align-items: center;
}
.full-page{
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.arrow-icon:after {
  content: '\2192';
  color: #FFF;
  font-size: 20px;
  padding-left: 10px;
}
.access-btn{
  
}