.login-error-field {
    font-size: small;
    color: #ff5722cf;
    margin-top: 30px;
}
.form-forget-password {
    font-size: 12px;
    color: #2e3948;
    margin: 5px;
}
.account-refrance-links {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
 
.custom-input-field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    position: relative;
    width:300px;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
.custom-input-field input {
    width: 100%;

}
  .custom-input-field label,
  .custom-input-field input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  .custom-input-field input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 3px;
    cursor: text;
  }
  
  .custom-input-field input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  .custom-input-field label {
    text-transform: capitalize;
    letter-spacing: 0.05em;
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  .custom-input-field input:placeholder-shown + label {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  .custom-input-field input::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  .custom-input-field input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
  .custom-input-field input:not(:placeholder-shown) +  label,
  .custom-input-field input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }