.categories-cards-container{
    display: flex;
    justify-content: space-evenly;
    width: 580px;
    flex-wrap: wrap;
}

.transparent-bg{
    position: relative;
    background: transparent;
    background-color: transparent;
}
.percreate-product-modal-cancel-btn{
    position: absolute;
    right: 50px;
    bottom: 30px;
    background: white;
    color:gray;
}
.percreate-product-modal-cancel-btn:hover{
    background: lightgray;
}