.dashboard-page{
    display: flex;
    flex-direction: column;
}

.dashboard-head{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    margin-bottom: 15px;
}

.head-title {
    font-weight: 500;
    line-height: 41px;
    font-size: 34px;
    color: #2B3748;
}
.sub-title {
    line-height: 20px;
    font-size: 15px;
    font-weight: 100;
    color: #2B3748;
}

.dashboard-sidebar {
    /* width: 243px; */
    width: 194.4px;
    /* min-height: 776px; */
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px 0px;
    align-items: center;
}

.dashboard-content {
    display: flex;
    flex:1;
    flex-direction: column;
}

.btn-primary {
    background: #4DA1FF;
}

.dashboar-content-holder{
    display: flex;
}
.ashboard-content{
    display: flex;
}



/* Chart Section styles starts*/
.section-box {
    background: #FFFFFF;
    /* margin: 0px 10px 15px 15px; */
    margin: 0px 10px 0px 15px;
    border-radius: 3px;
}

.chart-preview{
    padding: 15px 15px 15px 25px; 
    /* height: 650px; */
    flex: 1;
    /* width: 100%; */
    min-width: 550px;
    display: flex;
    flex-direction: column;
}
.chart-head{
    display: flex;
    justify-content: space-between;
}

.chart-head-child{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart-title{
    color: #2b3748d6;
    font-size: 17px;
    font-weight: bold;
    text-transform: capitalize;
}

.chart-preview-options{
    border: 1px solid #C9D3DC;
    border-radius: 3px;
    display: flex;    

    /* padding: 10px;  */
}
.chart-option{
    text-transform: capitalize;
    font-size: small;
    color:#2b3748d6;
    padding: 10px 20px;
    display: inline-block;
    transition:all 350ms ease-in-out;
    cursor: pointer;
}
.chart-option:hover{
    box-shadow: 0px 0px 10px 0px #0000002b;
}
.chart-option:hover{
    font-weight: bold;
    color: #4DA1FF;
    
}
.chart-total-profite{
    min-width: 120px;
    display: flex;
    align-items: center;
}
.chart-profit-value{
    margin-left: 40px;
    min-width: 100px;
    font-size: large;
    font-weight: bold;
    color: #2b3748d6;
}

.stock-up,.stock-down{
    position: relative;
    font-size: x-small;
    margin-left: 20px;
}
.stock-up{
    color:#30bb1eed !important;
}
.stock-down{
    color:tomato !important;
}
.stock-up:before,.stock-down:before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    left: -7px;
    top: -5px;
    color:inherit;
}
.stock-up:before{
    content: "\f0d8";
}
.stock-down:before{
    content: "\f0d7";
}
/* Chart Section styles ends*/





.dashboard-temp-data-message{
    color:gray;
    font-size: 12px;
    padding: 10px 30px;
    margin: 10px auto;
    background: white;
    text-align: center;
    border-radius: 3px;
    box-shadow: 2px 2px 4px -2px rgba(0,0,0,.2);
}