.checkout-pages-designs{
    margin-bottom: 30px;
}
.template-selected-color-simulation {
    height: 100px;
    width: 250px;
    border-radius: 5px;
}
.template-color-picker-container{
    margin-top:10px;
    justify-content: space-between 
}