.image-slider-add-item-container{
  max-height: 500px;
}

.image-slider-add-item-content{
  overflow: auto;
}

.image-slider-add-item-content::-webkit-scrollbar {
  width: 6px;
}

.image-slider-add-one-item{
  /* box-shadow: 1px 1px 15px #d1d2d4; */
  background-color: #f2f6ff; 
  border-radius: 5px;
  min-height: 100px;
  overflow: hidden;
  padding: 0 10px;
}

.image-slider-add-item-image{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}


.image-slider-add-item-delete{
  cursor: pointer;
  color: tomato;
  opacity: .7;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  font-size: 16px;
}

.image-slider-add-item-delete:hover{
  opacity: 1;
  transform: scale(1.25);
}




