.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: -10px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  box-sizing: border-box;
  transition: .2s border ease-in-out,
      .2s background-color ease-in-out;
}

.checkbox-container.active .checkmark {
  background-color: #4DA1FF;
  border-color: #4DA1FF;
}
/* .checkbox-container.disabled{
  background-color: gray;
  border-color: gray;
} */
.checkbox-container.circle .checkmark{
  border-radius: 50%;
};

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container.circle .checkmark:after{
  top: 1px;
}
.checkbox-container.active .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 0px;
  width: 5px;
  height: 13px;
  border-style: solid;
  border-color: #fff;
  border-color: var(--checkmark-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container.checkbox-circle .checkmark{
  border-radius: 50%;
}