.layout-options {
    display: flex;
}

.integrations-container {
    margin-top: 20px;
    background: white;
    padding: 10px 20px;
}



.flex-space-center {
    flex: 1;
    justify-content: center;
}


img.integrations-service-brand {
    height: 40px;
    width: 139px;
    /* max-width: 60px; */
    object-fit: contain;
}


.integration-table-row {
    min-height: 60px;
    margin: 0;
    padding: 10px 30px;
    border-bottom: .5px solid #eee;
}

.integration-service-description {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: flex-start;;
}

.integration-head-cell {
    min-width: 185px;
    padding: 5px 30px;
}

.btn.integration-toggle-btn {
    position: relative;
}

.btn.integration-toggle-btn::before {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: attr(fallback-data);
    justify-content: center;
    /* display: flex; */
    align-items: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    background: tomato;
}
.btn.integration-toggle-btn::hover {
    /* opacity: 0; */
    background: tomato;
}
.btn.integration-toggle-btn::hover::before {
    display: flex;
}


.integrations-search-input{
    width: 350px;
}

.integration-category-title{
    margin: 20px 0 0 0;
}
.integration-list-table{
    margin: 5px 0 0 0;
}
