.onboarding-wrapper {
  display: grid;
  grid-template-columns: minmax(620px, 820px);
  grid-template-rows: auto 560px;
}

.onboarding-header {
  text-align: center;
}
.onboarding-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-video {
}
.feature-description {
}
.feature-action {

}

#videoplayer {
  width: 600px;
  height: 460px;
  background: grey;
}
