.color-picker-modal{
    position: relative;

}
.color-presentation-holder{
    background: rgb(21, 71, 71);
    cursor: pointer;
    width: 50px;
    border-radius: 4px;
    height: 20px;
    border:1px solid lightgray;
}

.twitter-picker-holder{
    position: absolute;
    top: 25px;
    /* left: -300%; */
    right: 0;
    z-index: 10;
}