.template-complete-order{
  font-size: 20px;
  color:white;
  padding: 2.7px 0px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity .4s ease-in-out;
}
.template-complete-order-input{
  text-align: center;
  color:white;

}

.template-complete-order:hover{
  opacity: .7;
}