.contentReveal-title {
  font-size: 25px;
  color: #000;
  margin: 20px 0 0 20px;
}

.contentReveal-listItem{
  border: 1px solid lightgray;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.contentReveal-listItem-delete{
  position: relative;
  top: -2px;
  left: -5px;
  font-size: 12px;
  border-radius: 50%;
  color: lightcoral;
  cursor: pointer;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.contentReveal-listItem:hover .contentReveal-listItem-delete{
  opacity: 1;
}

.contentReveal-listItem-icon{
  color: #4DA1FF;
  margin-right: 5px;
  cursor: pointer
}

.contentReveal-listItem-title{
  font-size: 18px;
  color: #0b2475
}

.contentReveal-listItem-title input{
  font-weight: bold;

}

.contentReveal .transparent-background {
  width: 90%;
}

.contentReveal input{
  width: 100% !important;
}

.contentReveal textarea{
  width: 100% !important;
}


.content-active{
  border-color: #4DA1FF;
}


.contentReveal-customIcon{
  width: 16px;
  height: 16px;
  display: inline-flex;
  margin-right: 5px;
  cursor: pointer
}

.contentReveal-customIcon img{
  width: 100%;
  height: 100%;
}