.sidebar-row{
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.sidebar-input-label{
    margin:5px 0;
    width: unset;
}
.sidebar-switch-input{
    margin: 10px 50px;
}
.sidebar-switch-input::after {
    content: 'hide';
    text-transform: capitalize;
}
.sidebar-switch-input::before {
    content: 'show';
    text-transform: capitalize;
}
.flexColumn{
    flex-direction: column;
}
.alignedStart{
    align-items: flex-start;
}