/* Temp styles */

.details-form-container {
    margin-top: 20px;
}
/* Section styles (should be moved in their proper place)*/


/**/

.input-row{
    display: flex;
    margin: 12px 0px ;
    align-items: flex-start;
}
.input-label-container{
    position: relative;
    width: 260px;
}
.input-label{
    color: #2B3748;
    font-size: 13px;
    user-select: none;
    font-weight: bold;
}
.input-label-note{
    position: absolute;
    left: 5px;
    top:110%;
    width:85%;
    color:gray;
    line-height: 12px;
    font-size: 10px;
}
.input-field{
    width: 404px;
    height: 32px;
    color:#2B3748;
    font-size:15px;
    line-height:20px;
    letter-spacing: -.012rem;
    padding: 0px 5px;
    background: rgba(188, 201, 214, 0.1);
    border:1px solid #C9D3DC;
    outline-color: lightgray;
    
}
.input-field:disabled{
    background: rgba(80, 83, 87, 0.1);
    user-select: none;
}
.small-input{
    width: 220px;
    margin-right: 40px;
}
.custom-input-field{
    width: 160px;
    font-size: 13px;
}
.url-suffix-input{
    width: 727px;
    height: 32px;
    display: flex;
    align-items: center;
}
.suffix-value{
    height: 100%;
    width: 300px;
    background: #4DA1FF;
    color: #FFFFFF;
    font-size: 15px;
    padding: 1px 10px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.url-suffix-input-field{
    width: 404px;
    height: 100%;
    color:#2B3748;
    font-size:15px;
    line-height:20px;
    letter-spacing: -.012rem;
    padding: 0px 16px;
    background: rgba(188, 201, 214, 0.1);
    border:1px solid #C9D3DC;
    border-left: 0px solid;
    outline-color: lightgray;
}

.textarea-input-field{
    height: 76px;
    width: 697px;
    resize: none;
    color:#2B3748;
    font-size:15px;
    line-height:20px;
    letter-spacing: -.012rem;
    padding: 5px 16px;
    background: rgba(188, 201, 214, 0.1);
    border:1px solid #C9D3DC;
    outline-color: lightgray;
}
.textarea-input-field:disabled{
    background: rgba(80, 83, 87, 0.1);
    user-select: none;
}
.text-area-small-note{
    color:#717C8A;
    font-size: 9px;
    display: block;
  
}
.add-elements-container{
    position: relative;
    margin-left: 27px;
    cursor: pointer;
}
.add-input-field{
    /* font-weight: bold; */
    font-size:15px;
    color:  #2B3748;
    outline-style: none;
}
.add-element-circle {
    position: absolute;
    left: -27px;
    top:18%;
    height: 15px;
    width: 15px;
    /* padding: 2px 5px 0px 4px; */
    /* font-weight: bold; */
    font-size: 14px;
    display: flex;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
}
.primary-color{
    background: #4DA1FF;
}
.orange-color{
    background:rgb(195, 152, 71);
}
.warning-color{
    background: rgb(219, 40, 70);
}
.green-color{
    background: #17C671;
}
.purple-color{
    background: #B892E9;
}
.gray-color{
    background: #C9D3DC;
}
.add-element-notes{
    position: absolute;
    content: '';
    color: #717C8A;
    font-size: 8px;
    top: 30%;
    float: left;
    width: 400px;
    left: 100px;
    pointer-events: none;
}
.add-element-description{
    position: absolute;
    content: '';
    color: #717C8A;
    font-size: 8px;
    top: 35px;
    left: 0px;
    float: left;
    width: 180px;
    pointer-events: none;
}

.select-input-field{
    /* -webkit-appearance:none; */
    position: relative;
    height: 32px;
    min-width: 192.8px;
    background: white;
    border:1px solid #C9D3DC;
    color:#2B3748;
    font-size: 15px;
    letter-spacing: .1px;
    outline-color: lightgray;
    text-indent: 5px;
}
.select-option{
    color:#2B3748;
    font-size: 15px;
    letter-spacing: .1px;
    padding: 4px 5px;
    margin: 10px;
    text-indent: 15px;
    
}
.select-arrow-down{
    position: absolute;
    background:#C9D3DC;
    color:green;
    border-left:1px solid #C9D3DC;
    height: 100%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-input-holder{
    display: inline-table;
    width: 161.6px;
    height: 32px;
    position: relative;
}
div.price-input-holder input[type=number]::-webkit-inner-spin-button,
div.price-input-holder input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.price-input-field{
    margin-left: 32px;
    width: 112px;
    height: 32px;
    color:#2B3748;
    font-size:15px;
    line-height:20px;
    letter-spacing: -.012rem;
    padding: 0px 16px;
    background: rgba(188, 201, 214, 0.1);
    border:1px solid #C9D3DC;
    outline-color: lightgray;
}
.price-input-field:disabled{
    background: rgba(80, 83, 87, 0.1);
    user-select: none;
}
.currancy-type {
    position: absolute;
    color: #4DA1FF;
    font-size: 15px;
    height: 100%;
    width: 32px;
    font-weight: 700;
    background: #C9D3DC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field[placeholder|='http://']::placeholder{
    color:#2B3748;
}


/* CheckBox styles */
input[type="radio"]{
    position:absolute;
    z-index: -1;
    opacity :0;
}
.check-box-container{
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    margin-right: 125px;
}
.check-box-indicator{
    position: relative;
    margin-left: 25px;
    color: #2B3748;
    font-size: 12px;
    cursor: pointer;
}
.check-box-indicator:before{
    content:'';
    position: absolute;
    left:-25px;
    height: 17px;
    width: 17px;
    top:calc(50% - 8.5px);
    background: #ececec;
    border-radius: 50%;
}

.check-box:checked ~ .check-box-indicator:after{
    content: '';
    position: absolute;
    top:calc(50% - 5px);
    left: -19px;
    width: 3px;
    height: 9px;
    border: solid #2B3748;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.check-box-description {
    position: absolute;
    display: inline-table;
    width: 210px;
    font-size: 9px;
    color: #717C8A;
    top: 30px;
    left: 25px;
}
/* CheckBox styles ends*/



/* colors Picker*/
.color-label{
    font-size: 15px;
    color: #C9D3DC;
    text-transform: uppercase;
    margin: 0 20px;
    cursor: pointer;
}
.color-default{
    color:#4DA1FF;
    margin-left:0px; 
}

/* color picker ends*/



/* Switch slider input*/

  .switch-slider-input {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 10px;
    margin: 10px 80px;
}

.switch-slider-input:before {
    content:'on';
    right:-36px;
    position:absolute;
    top:-50%;
    font-size:12px;
    color:gray;
    text-transform: uppercase;
}
.switch-slider-input:after{
    content:'off';
    left:-36px;
    position:absolute;
    top:-50%;
    font-size:12px;
    color:gray;
    text-transform: uppercase;
}
.activability-switch:before{
    content:'active';
    right:-60px;
}
.activability-switch:after{
    content:'inactive';
    left:-76px;
}
.switch-slider-input input {display:none;}



.slider-input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider-input:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 13px;
    left: 0px;
    bottom: -2px;
    border:.8px solid rgb(170, 164, 164);
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

  input:checked ~ .slider-input {
    background-color: #2196F3;
  }
  
  input:focus + .slider-input {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked ~ .slider-input:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    /* background-color: #2196F3; */
    border:.8px solid rgb(115, 181, 235);
  }
  .slider-input.slider-round {
    margin:0px;
    border-radius: 34px;
    width: 23px;
  }
  
  .slider-input.slider-round:before {
    border-radius: 50%;
  }
/* Switch slider input ends*/

/* COde area input styles*/
.codearea-input-field{
    height: 100px;
    width: 90%;
    background: #ffffff;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    resize: none;
    display: block;
    word-wrap: break-word;
    outline-color: lightgray;
}
.code-area-container {
    width: 70%;
}
.extra-bottom-margin{
    margin-bottom: 20px;
}
.flixable-code-area-container {
    width: 100%;
}
.flixable-codearea-input-field {
    width: 100%;
    height: 259px;
    font-size: 12px;
    padding: 5px 10px;
}
/* FlatSelect input field styles */
.charging-method-picker{
    position:relative;
    height:34px;
    display:flex;
}
.hiden-element{
  display:none;
}
.charging-method-item{
  width:45px;
  display:flex;
  justify-content:center;
  align-items:center;
  border: .7px solid #C9D3DC;
  color:#2B3748;
  font-size:15px;
  font-weight:bold;
  cursor:pointer;
}
.active-charging-method-item{
  border:none;
  background:#4DA1FF;
  /* border: 1px solid #fff; */
  color:white;
}
.charge-method-radio-input:checked + .charging-method-item{
   border:none;
  background:#4DA1FF;
  color:white;
}
.charging-method-picker-notes {
    position: absolute;
    bottom: -26px;
    line-height: 10px;
    left: 0px;
    color: #717C8A;
    font-size: 8px;
    pointer-events: none;
}
/* FlatSelect input field styles ends */


/* trash button styles  & x-small btn*/
.delete-btn {
    background: #FF7B7F;
    color: white;
    font-size: 12px;
    margin: 20px;
}

.x-small-btn {
    padding: 6px 8px;
}
.note-element{
    display: flex;
    justify-content:flex-start;
}
.note-element span{
    margin:5px;
}
.note-content{
    width: 330px;
    color:gray;
    font-size: 9px;
}

.edit-btn{
    font-size: 15px;
    color:#2B3748;
    cursor: pointer;
}
.edit-btn .fas{
    margin: 0px 10px;
    color:#4da1ff;
}

.btn > .fas{
    margin: 0px 5px;
}

.wide-element{
    padding: 0px 15px !important;
}


.add-input-field-holder {
    display: flex;
    align-items: center;
}
.child-added-element {
    display: flex;
    align-items: center;
    line-height: 25px;
    font-size: 12px;
    color: #656d75;
    margin-left: 20px;
    
}


.display-flex{
    display: flex;
}
/* Tage element styles*/
.tage-keyword-container{
    position: relative;
    max-width: fit-content;
    padding: 3px 5px;
    padding-right: 20px;
    border: 1px solid #c9d3dc;
    border-radius: 3px;
    cursor: pointer;
    transition:all 200ms ease-in-out;
}
.tage-keyword{

}
.tage-delete{
    position: absolute;
    top:11%;
    /* display: none; */
    right:5px;
    transition:all 200ms ease-in-out;
    opacity:0;
}
.tage-keyword-container:hover{
    border: 1px solid #c9d3dc;
    border-radius: 3px;
    background: #f5f4f4;
}
.tage-keyword-container:hover .tage-delete{
   opacity:1;
}



.tag-input-container {
    position: relative;
}

.tage-input-field {
    padding: 3px 5px;
    border: 1px solid #c9d3dc;
    border-radius: 3px;
}

.tag-save-btn {
    position: absolute;
    right: 5px;
    top: 2px;
    color: lightgreen;
    cursor: pointer;
}
.hide-element{
    opacity: 0;
}

.input-left-label{
    color: #C9D3DC;
    font-size: 13px;
    user-select: none;
    margin: auto 20px;
}



.invalid-field {
    border: 1px solid #ff572275;
}

.label-validation-error {
    color: tomato;
    font-size: 10px;
    margin-left: 20px;
}

.uploaded-thumbnil {
    height: 28px;
    margin-right: 10px;
}
.margin-left-30 {
    margin-left: 32px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.reset-font-size{
    font-size: 15px;

}
.margin-left-120 {
    margin-left: 120px;
    font-size: 12px;
}

.disabled-element {
    color: gray !important;
    background: #9e9e9e96;
    display: flow-root;
    user-select: none;
    pointer-events: none;
}
.disabled-element i.fas{
    color: gray ;
}
.text-area-container{
    position: relative;
}


/* Add input Field*/
span.add-input-field {
    margin: 0px 10px;
}
.feature-text-area{
    width: 400px;
}
.add-input-field-container{
    display: flex;
    align-items: flex-start;
}
/* .add-input-field:hover{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

} */
/* Add input Field ends*/
.input-field.valid {
    padding-right: 21px !important;
    background: url(../../../assets/images/check-img.png) no-repeat right;
    background-size: 20px;
}

.btn-disabled {
    pointer-events: none;
    opacity: .5;
}



/* Delete trash btn*/
.delete-trash-btn i.fas {
    color: #ff6347ba;
    background: transparent;
    font-size: 15px;
    margin: 15px;
    cursor: pointer;
    transition:color .4s ease-in-out;
}
.delete-trash-btn i.fas:hover{
    color: tomato;
}
/* Delete trash btn ends*/


/* Custom Checkbox input styles Field*/
.custom-checkbox-input-field{
    display:none;
}
.custom-checkbox-input-mask{
    position:relative;
    display:inline-block;
    height:15px;
    width:15px;
    color:#03A9F4;
    cursor:pointer;
    border:1px solid gray;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all .4s ease-in-out;
}
.custom-checkbox-input-field:checked ~ .custom-checkbox-input-mask{
    border:1px solid #03A9F4;
}
.custom-checkbox-input-field:checked ~ .custom-checkbox-input-mask:after{
    content: "\2713";
    font-size:18px;
    top:0px;
    left:0px;
}
  
/* Custom Checkbox input Field StylesEnds*/


/* Editable Text Field Styles*/
.editable-text-field {
    font-size: 15px !important;
    font-family: Arial, Helvetica, sans-serif;
  }
  .editable-text-input {
    width: fit-content;
    padding: inherit;
    font-size: inherit;
    border: none;
    outline-style: none;
  }
  .editable-text-content{
    /* font-weight: 600; */
  }
  abbr.abbr-note {
    text-decoration: none !important;
    cursor: pointer !important;
}
/* Editable Text Field Styles Ends*/




/* Checkout input field*/
.checkout-input-field-container{
    position: relative;
    margin:5px;
    flex:1;
}
.checkout-input-field{
    padding-left: 13px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    min-height: 35px;
}
.checkout-input-field:focus,
.checkout-input-field:valid {
    outline: unset;
    border: 1px solid #4DA1FF;
}
.checkout-input-field:disabled {
    outline: unset;
    background: transparent;
    cursor:not-allowed;
    border: 1px solid;
    border-color: inherit;
}

label.checkout-input-label{
    position: absolute;
    top: 9px;
    color: #999;
    left: 13px;
    pointer-events: none;
    transition: 0.2s ease all;
}
input.checkout-input-field:focus + label.checkout-input-label,
input.checkout-input-field:valid + label.checkout-input-label{
    top: -10px;
    font-size: 12px;
    color: #4DA1FF;
    background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 50%, #ffffff 50%, #ffffff 100%);
}

/* Checkout input field ends*/



/*  Editable Field Styles*/
.editable-field{
    position: relative;
    width: 250px;
    max-height: 170px;
}

.editable-field-text,
.editable-field-input{
    padding: 2px 4px;
    background: inherit;
    color:inherit;
    text-align: inherit;
    width: inherit;
    white-space: pre-line;
    /* word-break: break-all; */
    /* height: auto; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    resize: none;
}
.editable-field-text:hover{
    cursor: pointer;
    /* padding: 0 2px; */
    /* border: 2px solid #5ca2f181;     */
}
.editable-field-input{
    border:none;
    padding: 0 2px;
    height:auto;
    min-height:100%;
    /* padding: 2px 4px; */
    outline-color: #4da1ff;    
}

.editable-field-textarea{
    width: inherit;
    height: inherit;
    border:none;
    white-space: pre-wrap;
    overflow: none;
    text-overflow: unset;
    word-wrap:normal;
    line-height: inherit;
    font-size: inherit;
    
    outline-color: #4da1ff; 
}
.editable-field-error{
    position: absolute;
    opacity:1;
    left:-10px;
    top: 0px;
    color:#F78DA7;
    cursor: pointer;
    font-size: 13px;
    transition: opacity .4s ease-in-out;
}
.editable-field:hover .editable-field-error{
    opacity: 1;
}
.editable-field-error:hover::before{
    position:absolute;
    bottom:-5px;
    left:50%;
    content: attr(tooltip);
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
}
.editable-field-error:hover::after{
    content: "";
    position: absolute;
    top:-3px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.6) transparent transparent     transparent;
   }
/*  Editable Field Styles Ends*/