.medium-add-btn{
    padding: 10px 20px;
}
.smooth-box-padding{
    padding: 20px 20px 20px 20px;
}

.box-text-small{
    color:#2B3748;
    font-size: 15px;
}
.box-text-small .fas{
    font-size: 12px;
    margin: 0px 5px;
}

.zapier-brand-image{
    height: 160px;
    width: auto;
}


/* Small box container */

/* .small-forms-container{
    flex-wrap: wrap;
    width: calc(100% - 300px);
} */
.account-form-input{
    justify-content: space-between;
}
.small-form-container{
    flex:1;
    /* max-width: 550px;
    min-width: 500px; */
}
.small-form-container:nth-child(1) {
    margin: 20px 20px 20px 0px;
}


.small-form-controlls {
    padding: 0 55px 10px 0;
    
    display: flex;
    justify-content: flex-end;
    background: white;
}
.small-form-container .input-label-container{
    width:200px;
}

.small-form-content {
    background: white;
    padding: 15px;
}


/* Billing page styles */
.plan-card-action{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.blue-text{
    color:#4DA1FF;
    cursor: pointer;
}
.stick-note-icon{
    position: relative;
    margin-top: 45%;
}
.stick-note-icon:before{
    content: '';
    background: url(../../../assets/images/sticky-note-icon.png);
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    top: -54px;
    left: 40%;
}
.light-red-color{
    background: rgb(206, 45, 45);
}

.zapier-spcial-box {
    height: 220px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.zapier-spcial-box .small-box-container{
    flex-direction: column;
}
.zapier-client-oauth {
    width: 100%;
    padding: 3px 10px;
    border: none;
    border-bottom: 1px solid orange;
    outline-style: none;
}

.extra-margin-top{
    margin-top:40px;
}

.code-activation-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-activation-form .small-input {
    width: 190px;
    margin-right: 0px;
}

.disabled-card{
    background: #f2f2f2;
    pointer-events: none;
}


.redeem-box-error{
    margin-top: -60px;
    margin-left: 8px;
}



span.test-disabled {
    position: relative;
    opacity: .6;
    cursor: not-allowed;
    background: gray;
}
span.test-disabled:hover::after{
    position: absolute;
    width: 330px;
    content: 'update you email footer details ,so you can send test emails';
    left: 76px;
    top: 4px;
    font-size: 12px;
    color: tomato;
}


div.mail-chimp-logo{
    background-size: 32% !important;
}
div.ever-lesson-logo{
    background-size: 50% !important;
}
/* Cards Container Styles*/
.crads-container-element{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
/* Cards Container Styles Ends*/




.member-table-row{
    position: relative;
}