.product-card {
    margin: 10px;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.product-image-container {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.product-category {
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.781);
    border-top-right-radius: 3px;
}

.product-category .product-category-icon {
    cursor: unset;
    font-size: 13px;
    color: rgb(151, 158, 165);
}

.product-category .product-category-icon:hover {
    color: #C9D3DC !important;
    transform: unset;
}

.product-card .head {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;

}

.product-card .head .status {
    background: rgb(117, 119, 122);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.product-card .head .status.active {
    background: #8BC34A;
}

.product-content {
    flex: 1;
    padding: 5px 10px;

}

.product-card .footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 5px 15px;
    color: gray;
    font-size: 12px;
}

.title-text {
    color: gray;
    font-size: 16px;
}

.product-content .title-text {
    margin: 10px;
    flex: 1;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-text {
    color: rgba(32, 47, 88, 0.568);
    font-size: 16px;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.product-card .fas {
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.product-card .fas.duplicate-icon {
    color: white;
    margin: 7px;
}

.product-card .fas:hover {
    color: #03A9F4;
    transform: scale(1.2);
}